<!DOCTYPE HTML>
<html>
  <head>
    <title>Kooskõlastaja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/vendor/bootstrap-4.0.0-alpha.5.min.css">
    <link rel="stylesheet" href="/css/vendor/dataTables.bootstrap4.min.css">
    <script src="/js/vendor/jquery-3.1.1.min.js"></script>
    <script src="/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/js/vendor/jquery.dataTables.bootstrap4.min.js"></script>
    <script src="/js/Approver.js"></script>
    <script src="/js/TableSorter.js"></script>
    <script>
      $(function() {
        new Approver('${infosystemsUrl}').init();
      });
    </script>
    
  </head>
  <body>
  <script>
    $('button').on('click', function () {
        var $rowsNo = $('#info-systems-table tbody tr').filter(function () {
            return $.trim($(this).find('td').eq(5).text()) === "KOOSKÕLASTATUD"
        }).toggle();
    });
    //function peidaKk() {
    	//var $rowsKk = $('#info-systems-table tbody tr').filter(function () {
    		//return $.trim($(this).find('td').text()) === "KOOSKÕLASTATUD"}).toggle();};
    </script>
  <button>Peida Kooskõlastatud</button>
      
  
    <#include 'table.html'/>
  </body>
</html>